#section {
    padding: 60px 0;
    background-color: rgb(205, 205, 232);
}
#body {
    /* background-color: rgb(205, 205, 232); */
    font-size: large;
}

#header {
    background-color: rgb(119, 119, 150);
    color: rgb(5, 5, 5);
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    /* padding-right: 250; */
}
#SidebarHeader {
    background-color:rgb(205, 205, 232)
}

#social-icon {
    color : black;
    font-size: xx-large;
    text-align: center;
    margin-left: 25px;
    
}

#social-icon:hover {
    color: #3376cd;
    
}
#logo-left:hover {
    color: #3376cd;;
}
#cards:hover {
    background-color: #3376cd;;
}