#section {
    padding: 60px 0;
    background-color: rgb(205, 205, 232);
}
#body {
    /* background-color: rgb(205, 205, 232); */
    font-size: large;
}

#header {
    background-color: #21c4fb;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#SidebarHeader {
    background-color:rgb(205, 205, 232)
}

#social-icon {
    color : black;
    font-size: xx-large;
    text-align: center;
    margin-left: 25px;
    
}

#social-icon:hover {
    color: #21c4fb;
    
}
#logo-left:hover {
    color: orange;
}
#cards:hover {
    background-color: orange;
}